.pagec {
    background-image: url("http://www.mulierchile.com/hd-mobile-nature-wallpapers/hd-mobile-nature-wallpapers-014.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top; 
}
.start {
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}
/* StackLayout {
    margin-left: 30;
    margin-right: 30;
    padding-bottom: 15;
  }
  Image {
    margin-top: 5;
    margin-bottom: 20;
  }
  Button, Label {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
  }
  .submit-button {
    background-color: #CB1D00;
    color: white;
    margin-top: 20;
  } */
