.pagec {
    background-image: url("~/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top; 
}
.start {
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}
