.pagec {
    background-image: url("http://www.mulierchile.com/hd-mobile-nature-wallpapers/hd-mobile-nature-wallpapers-014.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top; 
}
.start {
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}
